body{
    background-color: rgba(100, 98, 98, 0.625);
    max-height: max-content;
}
.header{
    width: 100%;
    height: 100%;
}
h1{
    margin: 20px 0px;
    background-color: #ffff;
    text-align: center;
}

.contenedor{
    width: 500px;
    max-height: max-content ;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 2px black solid; */

}

#img1 > img{
    width: 500px;
    height: 300px;
}
.one{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
}
.two{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
    padding: 10px;
}
/* Segundo bloque */
.contenedor2{
    margin: 20px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* border: 2px black solid; */
    justify-content: space-between;
}
.three{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
}
.four{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
    padding: 10px;
}
#img2 >img{
    width: 500px;
    height: 300px;
}

/* tercer bloque */
.contenedor3{
    margin: 20px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* border: 2px black solid; */
    justify-content: space-between;
}
.five{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
}
.six{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
    padding: 10px;
}
#img3 >img{
    width: 500px;
    height: 300px;
}